    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">
            <b>
              Simple Tweet
            </b>
          </a>
          <ul class="nav">
            <li>
              <%= link_to "New", "tweets/tweet" %>
            </li>
            <li>
              <a href="#">
                Refresh
              </a>
            </li>
            <li>
              <a href="#">
                Favourites
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
<!--    <form>
      <div class="control-group">
      </div>
      <input name="tweet" type="text">
      <input type="submit"/>
    </form> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="assets/js/bootstrap.js">
    </script>
  