      <div>
      
      <% @mytweets.each do |mytweets| %>
        <% if session[:user_id] %>
          <div class="element">
            <img src="<%= mytweets.user.profile_image_url =%>" />
            <h2><%= mytweets.user.name =%> (<%= "@"+mytweets.user.screen_name =%>)</h2>
            <%= mytweets.text =%>
          </div>        
          <% else %>
          <p> Sign in first </p>
          <% end %>
      <% end %>
      </ul>
    </div>
<!--    <form>
      <div class="control-group">
      </div>
      <input name="tweet" type="text" value="Tweet this">
      <input type="submit"/>
    </form> -->
