    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">
            <b>
              Simple Tweet
            </b>
          </a>
          <ul class="nav">
            <li>
              <a href="#">
                New
              </a>
            </li>
            <li>
              <a href="#">
                Timeline
              </a>
            </li>
            <li>
              <a href="#">
                Favourites
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div>
      <ul>
      <% @mytweets.each do |mytweets| %>
        <div class="element">
          <ul>
            <li> <img src="<%= mytweets.user.profile_image_url =%>" /></li>
            <li><%= mytweets.user.name =%> (<%= "@"+mytweets.user.screen_name =%>)</li>
            <li><%= mytweets.text =%></li>
            <li></li>
          </ul>
      <% end %>
      </ul>
    </div>
<!--    <form>
      <div class="control-group">
      </div>
      <input name="tweet" type="text" value="Tweet this">
      <input type="submit"/>
    </form> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="assets/js/bootstrap.js">
    </script>
  