      <div>
      <ul>
      <% @listing.each do |listing| %>
        <div class="element">
          <ul>
            <li> <img src="<%= listing.user.profile_image_url =%>" /></li>
            <li><%= listing.user.name =%> (<%= "@"+listing.user.screen_name =%>)</li>
            <li><%= listing.text =%></li>
            <li></li>
          </ul>
      <% end %>
      </ul>
    </div>
<!--    <form>
      <div class="control-group">
      </div>
      <input name="tweet" type="text" value="Tweet this">
      <input type="submit"/>
    </form> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="assets/js/bootstrap.js">
    </script>
  