body{
	background: url('/assets/use_your_illusion.png') black repeat;
}
#container{
	width: 960px;
	margin: 0 auto;
}

nav > h1{
	width: 413px;
	height: 61px;
	background: url('/assets/logo.png') no-repeat;
	text-indent: -9001px;
}

.element{

background: #141414;
width: 280px;
font-family: serif;
font-size: 16px;
margin: 10px;
padding: 10px;
float: left;
height: 150px;
border-bottom: 3px solid #006DB8;
color: white;
}

.element img{
	float: left;
}

.element h2{
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	clear: right;
	margin-left: 10px;
}

/* NAVIGATION */
nav{
	font-family: Helvetica, sans-serif;
	font-weight: bold;
}
nav li{
	display: inline;
	margin: 0 30px 0 0;
	color: white;
}

nav li a{
	color: white;
	text-decoration: none;
}

